<!DOCTYPE html>

<html>

<head>

    <title>jquery input mask phone number validation - itsolutionstuff.com</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

<body>

  

<div class="container">


    <strong>Phone Number 2:</strong>  

    <input type="text" name="phone" class="phone2 form-control">

  

  

</div>

  

<script>

    $(document).ready(function(){

        $('.phone2').inputmask('+998 (99) 999-99-99');

    });

</script>

  

</body>

</html>

